%div.project
  %h3
    = link_to project.name, project_path(project)

  %div.outer_container
    %div.progress_bar
      %div.progress_bar_inner{:style => 'height: 23%'}
        &nbsp;

    %div.inner_container
      %div.description
        = project.description

      %ul
        %li
          Progress: 23% complete
        %li
          Last update: 2 days ago
        %li
          Started: #{time_ago_in_words(project.created_at)} ago


      %div.bottom
        %div.edit_project
          = link_to 'Edit', edit_project_path(project)

        %div.add_update
          = link_to 'Add update', '#'

        %div.clear

    %div.clear
