%h1
  = @project.name

%div.left
  %div.summary
    Going from
    %span.starts_at= @project.starts_at
    to
    %span.ends_at= @project.ends_at

  %div.description
    = @project.description

  %ul
    %li
      Progress: #{percentage(@project.progress)} complete
    - if @project.updates.any?
      %li
        Last update: #{time_ago_in_words(@project.last_update.created_at)} ago
      %li
        Created: #{time_ago_in_words(@project.created_at)} ago

  %div.button{:style => 'float: none'}
    = link_to 'Add update', new_project_update_path(@project)

  %h3
    Previous updates
  %table.updates
    - @project.updates.each do |update|
      %tr
        %td
          = update.created_at.to_s(:short)
          %span.time= update.created_at.to_i * 1000
        %td
          = update.value
          %span.value= update.value

  %div#graph{:style =>'width: 500px; height: 300px'}

%div.right
  %div.progress_bar
    %div.progress_bar_inner{:style => "height: #{@project.progress}%"}

%div{:style => 'clear: both'}

:javascript
  var graph_data = [];
  $('table.updates tr').each(function(index, tr) {
    var time = $(tr).find('span.time').text();
    var value = $(tr).find('span.value').text();
    graph_data.push([time, value]);
  });

  var options = {xaxis: {mode: 'time'}};

  $.plot($('#graph'), [graph_data], options);
