<!DOCTYPE html>
%html
  %head
    %title
      WatchMyProgress
    = include_javascripts :lib
    = include_javascripts :common
    = include_stylesheets :lib
    = include_stylesheets :common
    = stylesheet_link_tag '/stylesheets/lib/bootstrap.css'
    = csrf_meta_tag

  %body
    %div.topbar
      %div.topbar-inner
        %div.container
          %h3
            = link_to 'WatchMyProgress', projects_path
          %ul.nav
            %li= link_to 'Home', root_path, :class => 'span2'
            %li= link_to 'My Account', '#', :class => 'span2'
            %li= link_to 'Logout', '#', :class => 'span2'

      %div.flash_messages
        - if flash[:notice]
          %div.notice
            = flash[:notice]
        - if flash[:error]
          %div.error
            = flash[:error]

    %div.container
      %div#content
        = yield

      %div.remote_container{:style => 'display:none'}
