<!DOCTYPE html>
%html
  %head
    %title
      WatchMyProgress
    = include_javascripts :lib
    = include_javascripts :common
    = include_stylesheets :lib
    = include_stylesheets :common
    = csrf_meta_tag

  %body
    %div#header
      %h2
        = link_to 'WatchMyProgress', projects_path
      %div.menu
        = link_to 'Home', root_path
        = link_to 'My Account', '#'
        = link_to 'Logout', '#'
      %div.clear

    %div.flash_messages
      - if flash[:notice]
        %div.notice
          = flash[:notice]
      - if flash[:error]
        %div.error
          = flash[:error]

    %div#content
      = yield

    %div.remote_container{:style => 'display:none'}
